### ETL-Project: Extract, Tranform, Load - A Tale of a Vineyard
This repository explores the concept of ETL's - Extract, Tranform, Load - by creating a database accessable through (SQL/Postgres?) to assess which locations in (Country/Area) are ideal to establish a vineyard. 

#### Team Members:
* Michael Bett
* Carmen Sin
* Josh Thomas
* Aline Hornoff

#### The Project
A good glass of wine to wind down after a day hectic and stress or celebrate a great achievment is a special treat. But where is the ideal location to turn a simple fruit like a grape into a glass of joy to celebrate a special occasion.

Making wine is a long, slow process. It can take a full three years to get from the initial planting of a brand-new grapevine through the first harvest, and the first vintage might not be bottled for another two years after that. Longterm investment is required and it is therefore vital to pick the right location to establish a vineyard.

The database created will give an insight into what locations are ideal for a particular variety based on weather conditions, soil constitution and grape varietel.

In [28]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import json

from config import gkey

# Import create_engine
from sqlalchemy import create_engine

### Extract
... Why did we choose these data Sources

#### Data Sources:
1. Department Primary Industries and Regional Development WA: https://www.agric.wa.gov.au/soil-api-10
2. https://www.kaggle.com: WineData.csv   
3. 

#### Steps:
* 
* 
*

In [29]:
# Extraction Steps

# Read in WineData.csv
csv_path = "Resources/WineData.csv"
wine_df = pd.read_csv(csv_path)

## Transform
... why did we transform the data in this way

#### Step 1 - Transform WineData.csv
* Reading in WineData.csv and display data
* Create new dataframe with the following columns: country, price, province, region_1, title, winery, variety
* Rename column headers
* Filter dataframe for 'Western Australia'
* Inspect dataframe for unique values
* Reset index for each of the wineries
*

In [30]:
# Transformation Steps

# Display
wine_df.head()

,id,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [31]:
# Create new dataframe with the following columns: country, price, province, region_1, title, winery, variety
cleanwine_df = wine_df[["country", "points", "price", "province", "region_1", "title", "winery", "variety"]]

# Display dataframe
cleanwine_df

,country,points,price,province,region_1,title,winery,variety
0,Italy,87,NaN,Sicily & Sardinia,Etna,Nicosia 2013 Vulkà Bianco (Etna),Nicosia,White Blend
1,Portugal,87,15.0,Douro,NaN,Quinta dos Avidagos 2011 Avidagos Red (Douro),Quinta dos Avidagos,Portuguese Red
2,US,87,14.0,Oregon,Willamette Valley,Rainstorm 2013 Pinot Gris (Willamette Valley),Rainstorm,Pinot Gris
3,US,87,13.0,Michigan,Lake Michigan Shore,St. Julian 2013 Reserve Late Harvest Riesling ...,St. Julian,Riesling
4,US,87,65.0,Oregon,Willamette Valley,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Sweet Cheeks,Pinot Noir
...,...,...,...,...,...,...,...,...
129966,Germany,90,28.0,Mosel,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Dr. H. Thanisch (Erben Müller-Burggraef),Riesling
129967,US,90,75.0,Oregon,Oregon,Citation 2004 Pinot Noir (Oregon),Citation,Pinot Noir
129968,France,90,30.0,Alsace,Alsace,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Domaine Gresser,Gewürztraminer
129969,France,90,32.0,Alsace,Alsace,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Domaine Marcel Deiss,Pinot Gris
129970,France,90,21.0,Alsace,Alsace,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Domaine Schoffit,Gewürztraminer

In [32]:
# Rename column heads
cleanwine_df = cleanwine_df.rename(columns={"country":"Country", "points":"Tasting_Score", "price":"Price", "province":"State", "region_1":"Region", "title": "Wine_Name", "winery":"Winery", "variety":"Grape_Variety"})

# Display dataframe
cleanwine_df

,Country,Tasting_Score,Price,State,Region,Wine_Name,Winery,Grape_Variety
0,Italy,87,NaN,Sicily & Sardinia,Etna,Nicosia 2013 Vulkà Bianco (Etna),Nicosia,White Blend
1,Portugal,87,15.0,Douro,NaN,Quinta dos Avidagos 2011 Avidagos Red (Douro),Quinta dos Avidagos,Portuguese Red
2,US,87,14.0,Oregon,Willamette Valley,Rainstorm 2013 Pinot Gris (Willamette Valley),Rainstorm,Pinot Gris
3,US,87,13.0,Michigan,Lake Michigan Shore,St. Julian 2013 Reserve Late Harvest Riesling ...,St. Julian,Riesling
4,US,87,65.0,Oregon,Willamette Valley,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Sweet Cheeks,Pinot Noir
...,...,...,...,...,...,...,...,...
129966,Germany,90,28.0,Mosel,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Dr. H. Thanisch (Erben Müller-Burggraef),Riesling
129967,US,90,75.0,Oregon,Oregon,Citation 2004 Pinot Noir (Oregon),Citation,Pinot Noir
129968,France,90,30.0,Alsace,Alsace,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Domaine Gresser,Gewürztraminer
129969,France,90,32.0,Alsace,Alsace,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Domaine Marcel Deiss,Pinot Gris
129970,France,90,21.0,Alsace,Alsace,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Domaine Schoffit,Gewürztraminer

In [33]:
# Filter dataframe for 'Western Australia'
WaWinedf = cleanwine_df.loc[cleanwine_df["State"]=="Western Australia"]

# Display dataframe
WaWinedf

,Country,Tasting_Score,Price,State,Region,Wine_Name,Winery,Grape_Variety
652,Australia,92,21.0,Western Australia,Great Southern,Plantagenet 2014 Riesling (Great Southern),Plantagenet,Riesling
1649,Australia,85,16.0,Western Australia,Margaret River,Xanadu 2015 Exmoor Sauvignon Blanc-Semillon (M...,Xanadu,Sauvignon Blanc-Semillon
1707,Australia,86,23.0,Western Australia,Margaret River,Vasse River 2006 Chardonnay (Margaret River),Vasse River,Chardonnay
1930,Australia,87,30.0,Western Australia,Margaret River,Robert Oatley 2011 Finisterre Chardonnay (Marg...,Robert Oatley,Chardonnay
2312,Australia,90,33.0,Western Australia,Pemberton,Picardy 2006 Chardonnay (Pemberton),Picardy,Chardonnay
...,...,...,...,...,...,...,...,...
125506,Australia,90,15.0,Western Australia,Margaret River,Franklin Tate 2013 Tate Chardonnay (Margaret R...,Franklin Tate,Chardonnay
125578,Australia,89,37.0,Western Australia,Western Australia,Marchand & Burch 2014 Villages Chardonnay (Wes...,Marchand & Burch,Chardonnay
126392,Australia,86,16.0,Western Australia,Margaret River,Skuttlebutt 2012 Sauvignon Blanc-Semillon (Mar...,Skuttlebutt,Sauvignon Blanc-Semillon
127225,Australia,94,90.0,Western Australia,Western Australia,Howard Park 2012 Abercrombie Cabernet Sauvigno...,Howard Park,Cabernet Sauvignon
129119,Australia,87,29.0,Western Australia,Margaret River,Cullen 2012 Mangan Vineyard Merlot-Malbec-Peti...,Cullen,Bordeaux-style Red Blend

In [34]:
WA_Wine_DF = WaWinedf.reset_index()

WA_Wine_DF

,index,Country,Tasting_Score,Price,State,Region,Wine_Name,Winery,Grape_Variety
0,652,Australia,92,21.0,Western Australia,Great Southern,Plantagenet 2014 Riesling (Great Southern),Plantagenet,Riesling
1,1649,Australia,85,16.0,Western Australia,Margaret River,Xanadu 2015 Exmoor Sauvignon Blanc-Semillon (M...,Xanadu,Sauvignon Blanc-Semillon
2,1707,Australia,86,23.0,Western Australia,Margaret River,Vasse River 2006 Chardonnay (Margaret River),Vasse River,Chardonnay
3,1930,Australia,87,30.0,Western Australia,Margaret River,Robert Oatley 2011 Finisterre Chardonnay (Marg...,Robert Oatley,Chardonnay
4,2312,Australia,90,33.0,Western Australia,Pemberton,Picardy 2006 Chardonnay (Pemberton),Picardy,Chardonnay
...,...,...,...,...,...,...,...,...,...
281,125506,Australia,90,15.0,Western Australia,Margaret River,Franklin Tate 2013 Tate Chardonnay (Margaret R...,Franklin Tate,Chardonnay
282,125578,Australia,89,37.0,Western Australia,Western Australia,Marchand & Burch 2014 Villages Chardonnay (Wes...,Marchand & Burch,Chardonnay
283,126392,Australia,86,16.0,Western Australia,Margaret River,Skuttlebutt 2012 Sauvignon Blanc-Semillon (Mar...,Skuttlebutt,Sauvignon Blanc-Semillon
284,127225,Australia,94,90.0,Western Australia,Western Australia,Howard Park 2012 Abercrombie Cabernet Sauvigno...,Howard Park,Cabernet Sauvignon
285,129119,Australia,87,29.0,Western Australia,Margaret River,Cullen 2012 Mangan Vineyard Merlot-Malbec-Peti...,Cullen,Bordeaux-style Red Blend

In [35]:
WA_Wine_DF['Winery'].value_counts()

Leeuwin Estate        31
Plantagenet           26
Robert Oatley         19
Frankland Estate      17
Cullen                15
West Cape Howe        15
Vasse Felix           14
Howard Park           12
Xanadu                10
Cape Mentelle         10
Evans & Tate           6
Moss Wood              6
Sandalford             5
Vasse River            5
Franklin Tate          5
Cherubino              4
Wise                   4
Wildberry Estate       4
Stella Bella           4
Alkoomi                4
Cloudburst             4
Salitage               3
Mad Fish               3
Juniper                3
Ringbolt               3
Ironberry              3
Hope Estate            3
Voyager Estate         3
Larry Cherubino        3
Bush Bike              2
Celestial Bay          2
Fonty's Pool           2
Beach Head             2
Skuttlebutt            2
Rocky Gully            2
Streicker              2
Hamelin Bay            2
Element                2
Strait Jacket          2
Picardy                2
Miles From Nowhere     1
Marquee                1
The Wishing Tree       1
Ferngrove              1
Xavier Flouret         1
Happs                  1
Howling Wolves         1
Capel Vale             1
Watershed              1
Kiss Chasey            1
Vinaceous              1
Killerby               1
Merops                 1
Devil's Lair           1
Clairault              1
Edwards                1
Ad Lib                 1
Chalice Bridge         1
Snake and Herring      1
Marchand & Burch       1
Name: Winery, dtype: int64

In [36]:
# Dropped Hope Estate from Dataframe as there is a mistake in original Data 

WA_Wine_DF = WA_Wine_DF[WA_Wine_DF['Winery'] != "Hope Estate"]

WA_Wine_DF

,index,Country,Tasting_Score,Price,State,Region,Wine_Name,Winery,Grape_Variety
0,652,Australia,92,21.0,Western Australia,Great Southern,Plantagenet 2014 Riesling (Great Southern),Plantagenet,Riesling
1,1649,Australia,85,16.0,Western Australia,Margaret River,Xanadu 2015 Exmoor Sauvignon Blanc-Semillon (M...,Xanadu,Sauvignon Blanc-Semillon
2,1707,Australia,86,23.0,Western Australia,Margaret River,Vasse River 2006 Chardonnay (Margaret River),Vasse River,Chardonnay
3,1930,Australia,87,30.0,Western Australia,Margaret River,Robert Oatley 2011 Finisterre Chardonnay (Marg...,Robert Oatley,Chardonnay
4,2312,Australia,90,33.0,Western Australia,Pemberton,Picardy 2006 Chardonnay (Pemberton),Picardy,Chardonnay
...,...,...,...,...,...,...,...,...,...
281,125506,Australia,90,15.0,Western Australia,Margaret River,Franklin Tate 2013 Tate Chardonnay (Margaret R...,Franklin Tate,Chardonnay
282,125578,Australia,89,37.0,Western Australia,Western Australia,Marchand & Burch 2014 Villages Chardonnay (Wes...,Marchand & Burch,Chardonnay
283,126392,Australia,86,16.0,Western Australia,Margaret River,Skuttlebutt 2012 Sauvignon Blanc-Semillon (Mar...,Skuttlebutt,Sauvignon Blanc-Semillon
284,127225,Australia,94,90.0,Western Australia,Western Australia,Howard Park 2012 Abercrombie Cabernet Sauvigno...,Howard Park,Cabernet Sauvignon
285,129119,Australia,87,29.0,Western Australia,Margaret River,Cullen 2012 Mangan Vineyard Merlot-Malbec-Peti...,Cullen,Bordeaux-style Red Blend

In [37]:
WA_Wine_DF.to_csv("WA_Wine_DF.csv", index=False, header=True)

In [38]:
Wineries_List = WA_Wine_DF['Winery'].unique()

Wineries_List

array(['Plantagenet', 'Xanadu', 'Vasse River', 'Robert Oatley', 'Picardy',
       'Frankland Estate', 'West Cape Howe', 'Leeuwin Estate',
       'Wildberry Estate', 'Vasse Felix', 'Watershed', 'Clairault',
       'Strait Jacket', 'Cullen', 'Voyager Estate', 'Element',
       'Hamelin Bay', 'Stella Bella', 'Howard Park', 'Ironberry',
       'Cape Mentelle', 'Streicker', 'Cloudburst', 'Rocky Gully',
       'Juniper', 'Mad Fish', 'Skuttlebutt', 'Alkoomi', "Devil's Lair",
       'Beach Head', 'Moss Wood', 'Wise', 'Miles From Nowhere',
       'Cherubino', 'Celestial Bay', 'Salitage', 'Snake and Herring',
       'Chalice Bridge', 'Ringbolt', 'Evans & Tate', 'Ad Lib', 'Edwards',
       "Fonty's Pool", 'Franklin Tate', 'Sandalford', 'Kiss Chasey',
       'Merops', 'Killerby', 'Vinaceous', 'Marquee', 'Larry Cherubino',
       'Capel Vale', 'Howling Wolves', 'Bush Bike', 'Happs',
       'Xavier Flouret', 'Ferngrove', 'The Wishing Tree',
       'Marchand & Burch'], dtype=object)

In [39]:
Wineries_List[39] = "Evans and Tate"
Wineries_List[58] = "Marchand and Burch"

Wineries_List

array(['Plantagenet', 'Xanadu', 'Vasse River', 'Robert Oatley', 'Picardy',
       'Frankland Estate', 'West Cape Howe', 'Leeuwin Estate',
       'Wildberry Estate', 'Vasse Felix', 'Watershed', 'Clairault',
       'Strait Jacket', 'Cullen', 'Voyager Estate', 'Element',
       'Hamelin Bay', 'Stella Bella', 'Howard Park', 'Ironberry',
       'Cape Mentelle', 'Streicker', 'Cloudburst', 'Rocky Gully',
       'Juniper', 'Mad Fish', 'Skuttlebutt', 'Alkoomi', "Devil's Lair",
       'Beach Head', 'Moss Wood', 'Wise', 'Miles From Nowhere',
       'Cherubino', 'Celestial Bay', 'Salitage', 'Snake and Herring',
       'Chalice Bridge', 'Ringbolt', 'Evans and Tate', 'Ad Lib',
       'Edwards', "Fonty's Pool", 'Franklin Tate', 'Sandalford',
       'Kiss Chasey', 'Merops', 'Killerby', 'Vinaceous', 'Marquee',
       'Larry Cherubino', 'Capel Vale', 'Howling Wolves', 'Bush Bike',
       'Happs', 'Xavier Flouret', 'Ferngrove', 'The Wishing Tree',
       'Marchand and Burch'], dtype=object)

In [40]:
Wineries_DF = pd.DataFrame(Wineries_List)

Wineries_DF.columns = ["Winery"]

Wineries_DF.head()

          Winery
0    Plantagenet
1         Xanadu
2    Vasse River
3  Robert Oatley
4        Picardy

In [41]:
Location_DF = Wineries_DF

for index, row in Wineries_DF.iterrows():

    try:

        target_city = row["Winery"]

        target_url = f"https://maps.googleapis.com/maps/api/geocode/json?address={target_city}%winery%Western%Australia&key={gkey}"

        geo_data = requests.get(target_url).json()

        (json.dumps(geo_data, indent=4, sort_keys=True))

        lat = geo_data["results"][0]["geometry"]["location"]["lat"]
        lng = geo_data["results"][0]["geometry"]["location"]["lng"]
        

        print('''
            Winery Name: {0}
            Latitude: {1}
            Longitude: {2}
            '''.format(target_city, lat, lng))
        Location_DF.loc[index, 'Latitude'] = lat
        Location_DF.loc[index, 'Longitude'] = lng

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

            Winery Name: Plantagenet
            Latitude: -34.6231932
            Longitude: 117.6620669


            Winery Name: Xanadu
            Latitude: -33.9826491
            Longitude: 115.0564272


            Winery Name: Vasse River
            Latitude: -33.67725249354625
            Longitude: 119.1884851077088


            Winery Name: Robert Oatley
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Picardy
            Latitude: -34.3958434
            Longitude: 116.1287217


            Winery Name: Frankland Estate
            Latitude: -34.4628714
            Longitude: 117.013378


            Winery Name: West Cape Howe
            Latitude: -34.655733
            Longitude: 117.557831


            Winery Name: Leeuwin Estate
            Latitude: -34.013389
            Longitude: 115.0656521


            Winery Name: Wildberry Estate
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Vasse Felix
            Latitude: -33.8224684
            Longitude: 115.0377261


            Winery Name: Watershed
            Latitude: -33.99248
            Longitude: 115.090956


            Winery Name: Clairault
            Latitude: -33.7320711
            Longitude: 115.0534737


            Winery Name: Strait Jacket
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Cullen
            Latitude: -33.8188285
            Longitude: 115.0379333


            Winery Name: Voyager Estate
            Latitude: -33.9967426
            Longitude: 115.0541669


            Winery Name: Element
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Hamelin Bay
            Latitude: -34.1736259
            Longitude: 115.1211995


            Winery Name: Stella Bella
            Latitude: -33.97247249999999
            Longitude: 115.1030429


            Winery Name: Howard Park
            Latitude: -33.8310998
            Longitude: 115.058846


            Winery Name: Ironberry
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Cape Mentelle
            Latitude: -33.9670545
            Longitude: 115.0373


            Winery Name: Streicker
            Latitude: -33.7320711
            Longitude: 115.0534737


            Winery Name: Cloudburst
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Rocky Gully
            Latitude: -34.5086841
            Longitude: 117.0087966


            Winery Name: Juniper
            Latitude: -33.82446
            Longitude: 115.048465


            Winery Name: Mad Fish
            Latitude: -33.831211
            Longitude: 115.0585231


            Winery Name: Skuttlebutt
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Alkoomi
            Latitude: -34.3558774
            Longitude: 116.9649844


            Winery Name: Devil's Lair
            Latitude: -34.0726227
            Longitude: 115.1073846


            Winery Name: Beach Head
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Moss Wood
            Latitude: -33.7838823
            Longitude: 115.0358115


            Winery Name: Wise
            Latitude: -33.579833
            Longitude: 115.072491


            Winery Name: Miles From Nowhere
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Cherubino
            Latitude: -33.7451553
            Longitude: 115.0301258


            Winery Name: Celestial Bay
            Latitude: -32.015516
            Longitude: 115.868497


            Winery Name: Salitage
            Latitude: -34.4058746
            Longitude: 116.1289347


            Winery Name: Snake and Herring
            Latitude: -33.769747
            Longitude: 115.0353225


            Winery Name: Chalice Bridge
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Ringbolt
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Evans and Tate
            Latitude: -33.7882981
            Longitude: 115.0349515


            Winery Name: Ad Lib
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Edwards
            Latitude: -33.8975372
            Longitude: 115.0302065


            Winery Name: Fonty's Pool
            Latitude: -34.2896328
            Longitude: 116.0661406


            Winery Name: Franklin Tate
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Sandalford
            Latitude: -31.8687178
            Longitude: 115.9927081


            Winery Name: Kiss Chasey
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Merops
            Latitude: -33.9478992
            Longitude: 115.0694631


            Winery Name: Killerby
            Latitude: -33.8133197
            Longitude: 115.0359529


            Winery Name: Vinaceous
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Marquee
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Larry Cherubino
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Capel Vale
            Latitude: -33.541308
            Longitude: 115.549871


            Winery Name: Howling Wolves
            Latitude: -31.7890038
            Longitude: 115.8316117


            Winery Name: Bush Bike
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Happs
            Latitude: -33.6649255
            Longitude: 115.0956214


            Winery Name: Xavier Flouret
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Ferngrove
            Latitude: -34.3796229
            Longitude: 116.933615


            Winery Name: The Wishing Tree
            Latitude: -27.6728168
            Longitude: 121.6283098


            Winery Name: Marchand and Burch
            Latitude: -33.831211
            Longitude: 115.0585231

In [42]:
Location_DF

                Winery   Latitude   Longitude
0          Plantagenet -34.623193  117.662067
1               Xanadu -33.982649  115.056427
2          Vasse River -33.677252  119.188485
3        Robert Oatley -27.672817  121.628310
4              Picardy -34.395843  116.128722
5     Frankland Estate -34.462871  117.013378
6       West Cape Howe -34.655733  117.557831
7       Leeuwin Estate -34.013389  115.065652
8     Wildberry Estate -27.672817  121.628310
9          Vasse Felix -33.822468  115.037726
10           Watershed -33.992480  115.090956
11           Clairault -33.732071  115.053474
12       Strait Jacket -27.672817  121.628310
13              Cullen -33.818829  115.037933
14      Voyager Estate -33.996743  115.054167
15             Element -27.672817  121.628310
16         Hamelin Bay -34.173626  115.121200
17        Stella Bella -33.972472  115.103043
18         Howard Park -33.831100  115.058846
19           Ironberry -27.672817  121.628310
20       Cape Mentelle -33.967055  115.037300
21           Streicker -33.732071  115.053474
22          Cloudburst -27.672817  121.628310
23         Rocky Gully -34.508684  117.008797
24             Juniper -33.824460  115.048465
25            Mad Fish -33.831211  115.058523
26         Skuttlebutt -27.672817  121.628310
27             Alkoomi -34.355877  116.964984
28        Devil's Lair -34.072623  115.107385
29          Beach Head -27.672817  121.628310
30           Moss Wood -33.783882  115.035811
31                Wise -33.579833  115.072491
32  Miles From Nowhere -27.672817  121.628310
33           Cherubino -33.745155  115.030126
34       Celestial Bay -32.015516  115.868497
35            Salitage -34.405875  116.128935
36   Snake and Herring -33.769747  115.035323
37      Chalice Bridge -27.672817  121.628310
38            Ringbolt -27.672817  121.628310
39      Evans and Tate -33.788298  115.034952
40              Ad Lib -27.672817  121.628310
41             Edwards -33.897537  115.030207
42        Fonty's Pool -34.289633  116.066141
43       Franklin Tate -27.672817  121.628310
44          Sandalford -31.868718  115.992708
45         Kiss Chasey -27.672817  121.628310
46              Merops -33.947899  115.069463
47            Killerby -33.813320  115.035953
48           Vinaceous -27.672817  121.628310
49             Marquee -27.672817  121.628310
50     Larry Cherubino -27.672817  121.628310
51          Capel Vale -33.541308  115.549871
52      Howling Wolves -31.789004  115.831612
53           Bush Bike -27.672817  121.628310
54               Happs -33.664926  115.095621
55      Xavier Flouret -27.672817  121.628310
56           Ferngrove -34.379623  116.933615
57    The Wishing Tree -27.672817  121.628310
58  Marchand and Burch -33.831211  115.058523

In [44]:
Location_DF.to_csv("Location_DF.csv", index=False, header=True)

### Load
... why did we choose this method 

#### Steps:
* 
* 
*

In [46]:
rds_connection_string = "postgres:postgres@localhost:5432/wa_wine_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [47]:
engine.table_names()

/var/folders/3k/123y7x113xj9frt5fwzkqgrc0000gn/T/ipykernel_33335/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['Winery_Listing',
 'Winery_Location',
 'Weather_data',
 'Soil_data',
 'Winery_Export_Sales_by_Geolocation',
 'Wine_volume_by_region',
 'Wine_Grape_variety_Sales',
 'Wine_Grape_varierty_Production',
 'Winery_Tasting_Price_data']

In [49]:
WA_Wine_DF.to_sql(name='Winery_Tasting_Price_data', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "index" of relation "Winery_Tasting_Price_data" does not exist
LINE 1: INSERT INTO "Winery_Tasting_Price_data" (index, "Country", "...
                                                 ^

[SQL: INSERT INTO "Winery_Tasting_Price_data" (index, "Country", "Tasting_Score", "Price", "State", "Region", "Wine_Name", "Winery", "Grape_Variety") VALUES (%(index)s, %(Country)s, %(Tasting_Score)s, %(Price)s, %(State)s, %(Region)s, %(Wine_Name)s, %(Winery)s, %(Grape_Variety)s)]
[parameters: ({'index': 652, 'Country': 'Australia', 'Tasting_Score': 92, 'Price': 21.0, 'State': 'Western Australia', 'Region': 'Great Southern', 'Wine_Name': 'Plantagenet 2014 Riesling (Great Southern)', 'Winery': 'Plantagenet', 'Grape_Variety': 'Riesling'}, {'index': 1649, 'Country': 'Australia', 'Tasting_Score': 85, 'Price': 16.0, 'State': 'Western Australia', 'Region': 'Margaret River', 'Wine_Name': 'Xanadu 2015 Exmoor Sauvignon Blanc-Semillon (Margaret River)', 'Winery': 'Xanadu', 'Grape_Variety': 'Sauvignon Blanc-Semillon'}, {'index': 1707, 'Country': 'Australia', 'Tasting_Score': 86, 'Price': 23.0, 'State': 'Western Australia', 'Region': 'Margaret River', 'Wine_Name': 'Vasse River 2006 Chardonnay (Margaret River)', 'Winery': 'Vasse River', 'Grape_Variety': 'Chardonnay'}, {'index': 1930, 'Country': 'Australia', 'Tasting_Score': 87, 'Price': 30.0, 'State': 'Western Australia', 'Region': 'Margaret River', 'Wine_Name': 'Robert Oatley 2011 Finisterre Chardonnay (Margaret River)', 'Winery': 'Robert Oatley', 'Grape_Variety': 'Chardonnay'}, {'index': 2312, 'Country': 'Australia', 'Tasting_Score': 90, 'Price': 33.0, 'State': 'Western Australia', 'Region': 'Pemberton', 'Wine_Name': 'Picardy 2006 Chardonnay (Pemberton)', 'Winery': 'Picardy', 'Grape_Variety': 'Chardonnay'}, {'index': 2587, 'Country': 'Australia', 'Tasting_Score': 90, 'Price': 35.0, 'State': 'Western Australia', 'Region': 'Frankland River', 'Wine_Name': 'Frankland Estate 2012 Poison Hill Vineyard Riesling (Frankland River)', 'Winery': 'Frankland Estate', 'Grape_Variety': 'Riesling'}, {'index': 2598, 'Country': 'Australia', 'Tasting_Score': 90, 'Price': 20.0, 'State': 'Western Australia', 'Region': 'Western Australia', 'Wine_Name': 'Plantagenet 2010 Omrah Shiraz (Western Australia)', 'Winery': 'Plantagenet', 'Grape_Variety': 'Shiraz'}, {'index': 2600, 'Country': 'Australia', 'Tasting_Score': 90, 'Price': 30.0, 'State': 'Western Australia', 'Region': 'Margaret River', 'Wine_Name': 'Robert Oatley 2009 Finisterre Cabernet Sauvignon (Margaret River)', 'Winery': 'Robert Oatley', 'Grape_Variety': 'Cabernet Sauvignon'}  ... displaying 10 of 283 total bound parameter sets ...  {'index': 127225, 'Country': 'Australia', 'Tasting_Score': 94, 'Price': 90.0, 'State': 'Western Australia', 'Region': 'Western Australia', 'Wine_Name': 'Howard Park 2012 Abercrombie Cabernet Sauvignon (Western Australia)', 'Winery': 'Howard Park', 'Grape_Variety': 'Cabernet Sauvignon'}, {'index': 129119, 'Country': 'Australia', 'Tasting_Score': 87, 'Price': 29.0, 'State': 'Western Australia', 'Region': 'Margaret River', 'Wine_Name': 'Cullen 2012 Mangan Vineyard Merlot-Malbec-Petit Verdot Red (Margaret River)', 'Winery': 'Cullen', 'Grape_Variety': 'Bordeaux-style Red Blend'})]
(Background on this error at: https://sqlalche.me/e/14/f405)