In [112]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from sqlalchemy import create_engine

## Extraction

In [113]:
# Read in wine sales by geographical location - GeoWineSales.csv 
csv_path = "Resources/GeoWineSales.csv"
GeoWineSales_df = pd.read_csv(csv_path)

# Display Dataframe
GeoWineSales_df.head()

,Label geographical indicator,2021,2020,2019,2018,2017,2016,2015,2014,2013
0,Margaret River,"$24,022,924.47","$34,350,396.85","$32,453,735.88","$32,163,139.78","$31,638,838.35","$24,683,224.57","$24,099,017.87","$24,238,119.98","$29,166,395.50"
1,Western Australia,"$5,629,598.19","$9,811,614.46","$11,519,624.95","$10,248,506.87","$8,457,180.80","$6,864,366.46","$7,201,500.98","$7,715,326.15","$8,722,354.12"
2,Frankland River,"$3,008,301.54","$2,626,616.35","$3,851,730.31","$4,664,301.78","$3,672,718.85","$3,132,518.99","$2,838,375.43","$5,095,994.47","$3,031,149.52"
3,Great Southern,"$1,725,288.20","$2,822,319.28","$2,466,475.94","$2,491,944.16","$1,885,898.03","$2,515,141.97","$2,520,853.18","$1,192,587.23","$1,659,498.66"
4,Mount Barker,"$193,610.23","$880,281.10","$890,624.53","$666,081.95","$506,934.61","$478,963.91","$305,235.72","$352,837.22","$951,730.70"

In [114]:
# Read in wine volume by region - GIVolumeProduction.csv 
csv_path = "Resources/GIVolumeProduction.csv"
GIVolumeProduction_df = pd.read_csv(csv_path)

# Display dataframe
GIVolumeProduction_df.head()

,Geographical Indication,Year,Volume (L),Volume % change on previous period,Average value,Average value % change on previous period
0,Margaret River,2021,"2,636,911",-25.6%,$10.50,-0.3%
1,Frankland River,2021,"764,100",-34.5%,$6.41,4.3%
2,Western Australia,2021,"490,721",-44.6%,$13.14,124.1%
3,Great Southern,2021,"318,688",-56.9%,$10.27,28.9%
4,Geographe,2021,"203,595",-46.0%,$6.35,-9.3%

In [115]:
# Read in wine sales by Grape Variety - SalesByVariety.csv 
csv_path = "Resources/SalesByVariety.csv"
SalesByVariety_df = pd.read_csv('Resources/SalesByVariety.csv', engine='python')

# Display dataframe
SalesByVariety_df.head()

            Variety 2021 2020 2019 2018 2017 2016 2015 2014 2013 2012
0         Aglianico  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   Aglianico Blend  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2          Albarino  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    Albarino Blend  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  Alicante Bouchet  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [116]:
# Read in grape variety production - WineProductionSummary.csv 
csv_path = "Resources/WineProductionSummary.csv"
WineProductionSummary_df = pd.read_csv('Resources/WineProductionSummary.csv', engine='python')

# Display dataframe
WineProductionSummary_df.head()

,Region,Year,Colour/Variety,Category,Tonnes purchased,Total value purchased,Average purchase value per tonne,% change in average value,Winery grown fruit,Winery grown share of crush,Total crushed,Total value all grapes
0,GreatSouthern,2021,Red,Cabernet Franc,NaN,NaN,NaN,NaN,14.638,100%,14.638,"$22,661"
1,GreatSouthern,2021,Red,Cabernet Sauvignon,1225.435,"$2,723,234.90","$2,222",-3%,276.055,18%,1501.490,"$3,336,701"
2,GreatSouthern,2021,Red,Grenache,10.704,"$17,695.90","$1,653",0%,NaN,NaN,10.704,"$17,696"
3,GreatSouthern,2021,Red,Malbec,54.864,"$111,578.60","$2,034",13%,61.520,53%,116.384,"$236,694"
4,GreatSouthern,2021,Red,Mataro/Mourvedre,NaN,NaN,NaN,NaN,2.000,100%,2.000,"$3,636"

### Transformation Wine Sales by Geographical Location
* Rename column heads

In [117]:
# Display Dataframe
GeoWineSales_df.head()

,Label geographical indicator,2021,2020,2019,2018,2017,2016,2015,2014,2013
0,Margaret River,"$24,022,924.47","$34,350,396.85","$32,453,735.88","$32,163,139.78","$31,638,838.35","$24,683,224.57","$24,099,017.87","$24,238,119.98","$29,166,395.50"
1,Western Australia,"$5,629,598.19","$9,811,614.46","$11,519,624.95","$10,248,506.87","$8,457,180.80","$6,864,366.46","$7,201,500.98","$7,715,326.15","$8,722,354.12"
2,Frankland River,"$3,008,301.54","$2,626,616.35","$3,851,730.31","$4,664,301.78","$3,672,718.85","$3,132,518.99","$2,838,375.43","$5,095,994.47","$3,031,149.52"
3,Great Southern,"$1,725,288.20","$2,822,319.28","$2,466,475.94","$2,491,944.16","$1,885,898.03","$2,515,141.97","$2,520,853.18","$1,192,587.23","$1,659,498.66"
4,Mount Barker,"$193,610.23","$880,281.10","$890,624.53","$666,081.95","$506,934.61","$478,963.91","$305,235.72","$352,837.22","$951,730.70"

In [118]:
# Rename 'Label geographical location' to 'Region', add 'Export Sales' to each year
GeoWineSales_df = GeoWineSales_df.rename(columns={"Label geographical indicator":"Region", "2021":"2021_Export_Sales", "2020":"2020_Export_Sales", "2019":"2019_Export_Sales", "2018":"2018_Export_Sales", "2017":"2017_Export_Sales", "2016":"2016_Export_Sales", "2015":"2015_Export_Sales", "2014":"2014_Export_Sales", "2013":"2013_Export_Sales"})

# Display dataframe
GeoWineSales_df.head()

,Region,2021_Export_Sales,2020_Export_Sales,2019_Export_Sales,2018_Export_Sales,2017_Export_Sales,2016_Export_Sales,2015_Export_Sales,2014_Export_Sales,2013_Export_Sales
0,Margaret River,"$24,022,924.47","$34,350,396.85","$32,453,735.88","$32,163,139.78","$31,638,838.35","$24,683,224.57","$24,099,017.87","$24,238,119.98","$29,166,395.50"
1,Western Australia,"$5,629,598.19","$9,811,614.46","$11,519,624.95","$10,248,506.87","$8,457,180.80","$6,864,366.46","$7,201,500.98","$7,715,326.15","$8,722,354.12"
2,Frankland River,"$3,008,301.54","$2,626,616.35","$3,851,730.31","$4,664,301.78","$3,672,718.85","$3,132,518.99","$2,838,375.43","$5,095,994.47","$3,031,149.52"
3,Great Southern,"$1,725,288.20","$2,822,319.28","$2,466,475.94","$2,491,944.16","$1,885,898.03","$2,515,141.97","$2,520,853.18","$1,192,587.23","$1,659,498.66"
4,Mount Barker,"$193,610.23","$880,281.10","$890,624.53","$666,081.95","$506,934.61","$478,963.91","$305,235.72","$352,837.22","$951,730.70"

In [119]:
# Replace NaN with 0
GeoWineSales_df_df = GeoWineSales_df.fillna(0)

# Display dataframe
GeoWineSales_df_df.head()

,Region,2021_Export_Sales,2020_Export_Sales,2019_Export_Sales,2018_Export_Sales,2017_Export_Sales,2016_Export_Sales,2015_Export_Sales,2014_Export_Sales,2013_Export_Sales
0,Margaret River,"$24,022,924.47","$34,350,396.85","$32,453,735.88","$32,163,139.78","$31,638,838.35","$24,683,224.57","$24,099,017.87","$24,238,119.98","$29,166,395.50"
1,Western Australia,"$5,629,598.19","$9,811,614.46","$11,519,624.95","$10,248,506.87","$8,457,180.80","$6,864,366.46","$7,201,500.98","$7,715,326.15","$8,722,354.12"
2,Frankland River,"$3,008,301.54","$2,626,616.35","$3,851,730.31","$4,664,301.78","$3,672,718.85","$3,132,518.99","$2,838,375.43","$5,095,994.47","$3,031,149.52"
3,Great Southern,"$1,725,288.20","$2,822,319.28","$2,466,475.94","$2,491,944.16","$1,885,898.03","$2,515,141.97","$2,520,853.18","$1,192,587.23","$1,659,498.66"
4,Mount Barker,"$193,610.23","$880,281.10","$890,624.53","$666,081.95","$506,934.61","$478,963.91","$305,235.72","$352,837.22","$951,730.70"

In [120]:
# Assess dataframe for datatypes
GeoWineSales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Region             19 non-null     object
 1   2021_Export_Sales  16 non-null     object
 2   2020_Export_Sales  17 non-null     object
 3   2019_Export_Sales  19 non-null     object
 4   2018_Export_Sales  18 non-null     object
 5   2017_Export_Sales  17 non-null     object
 6   2016_Export_Sales  17 non-null     object
 7   2015_Export_Sales  17 non-null     object
 8   2014_Export_Sales  18 non-null     object
 9   2013_Export_Sales  18 non-null     object
dtypes: object(10)
memory usage: 1.6+ KB

### Transformation Wine Volume by Region
* Drop 'Volume % change on previous period' and 'Average value % change on previous period' columns
* Rename columns

In [121]:
# Display dataframe
GIVolumeProduction_df.head()

,Geographical Indication,Year,Volume (L),Volume % change on previous period,Average value,Average value % change on previous period
0,Margaret River,2021,"2,636,911",-25.6%,$10.50,-0.3%
1,Frankland River,2021,"764,100",-34.5%,$6.41,4.3%
2,Western Australia,2021,"490,721",-44.6%,$13.14,124.1%
3,Great Southern,2021,"318,688",-56.9%,$10.27,28.9%
4,Geographe,2021,"203,595",-46.0%,$6.35,-9.3%

In [122]:
# Drop 'Volume % change on previous periode' and 'Average value % change on previous period'
GIVolumeProductionClean_df = GIVolumeProduction_df[["Geographical Indication", "Year", "Volume (L)", "Average value"]]

# Display dataframe
GIVolumeProductionClean_df.head()

  Geographical Indication  Year Volume (L) Average value
0          Margaret River  2021  2,636,911        $10.50
1         Frankland River  2021    764,100         $6.41
2       Western Australia  2021    490,721        $13.14
3          Great Southern  2021    318,688        $10.27
4               Geographe  2021    203,595         $6.35

In [123]:
# Rename 'Label geographical location' to 'Region', add 'Export Sales' to each year
GIVolumeProductionClean_df = GIVolumeProductionClean_df.rename(columns={"Geographical Indication":"Region", "Volume (L)":"Volume_per_Liter", "Average value":"Average_Sales_Value_per_Liter"})

# Display dataframe
GIVolumeProductionClean_df.head()

              Region  Year Volume_per_Liter Average_Sales_Value_per_Liter
0     Margaret River  2021        2,636,911                        $10.50
1    Frankland River  2021          764,100                         $6.41
2  Western Australia  2021          490,721                        $13.14
3     Great Southern  2021          318,688                        $10.27
4          Geographe  2021          203,595                         $6.35

In [124]:
# Assess dataframe for datatypes
GIVolumeProductionClean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 4 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Region                         165 non-null    object
 1   Year                           165 non-null    int64
 2   Volume_per_Liter               165 non-null    object
 3   Average_Sales_Value_per_Liter  165 non-null    object
dtypes: int64(1), object(3)
memory usage: 5.3+ KB

### Transformation Wine Sales by Grape Variety
* Rename column
* Drop all rows with NaN value

In [125]:
# Display dataframe
SalesByVariety_df.head()

            Variety 2021 2020 2019 2018 2017 2016 2015 2014 2013 2012
0         Aglianico  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   Aglianico Blend  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2          Albarino  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    Albarino Blend  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  Alicante Bouchet  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [126]:
# Rename 'Variety' to 'Grape Variety', add 'Export Sales' to each year
SalesByVariety_df = SalesByVariety_df.rename(columns={"Variety":"Grape_Variety", "2021":"2021_Export_Sales", "2020":"2020_Export_Sales", "2019":"2019_Export_Sales", "2018":"2018_Export_Sales", "2017":"2017_Export_Sales", "2016":"2016_Export_Sales", "2015":"2015_Export_Sales", "2014":"2014_Export_Sales", "2013":"2013_Export_Sales", "2012":"2012_Export_Sales"})

# Display dataframe
SalesByVariety_df.head()

,Grape_Variety,2021_Export_Sales,2020_Export_Sales,2019_Export_Sales,2018_Export_Sales,2017_Export_Sales,2016_Export_Sales,2015_Export_Sales,2014_Export_Sales,2013_Export_Sales,2012_Export_Sales
0,Aglianico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aglianico Blend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albarino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albarino Blend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alicante Bouchet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
# Drop all rows with NaN value
SalesByVariety_df = SalesByVariety_df.dropna()

# Display dataframe
SalesByVariety_df.head()

,Grape_Variety,2021_Export_Sales,2020_Export_Sales,2019_Export_Sales,2018_Export_Sales,2017_Export_Sales,2016_Export_Sales,2015_Export_Sales,2014_Export_Sales,2013_Export_Sales,2012_Export_Sales
7,Aligot,$0.00,$0.00,$666.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
13,Arneis,"$2,277.00",$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
16,Barbera,$0.00,$0.00,"$12,960.00","$87,955.20","$55,728.00",$0.00,$0.00,$0.00,$0.00,$0.00
18,Bastardo,"$3,461.00","$2,880.00",$0.00,$0.00,"$2,340.00",$312.00,"$6,469.00",$0.00,$0.00,$0.00
31,Brown Muscat,"$1,813.60",$0.00,$0.00,"$1,706.25",$0.00,$0.00,$0.00,$0.00,$0.00,$0.00

In [128]:
# Assess dataframe for datatypes
SalesByVariety_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94 entries, 7 to 291
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Grape_Variety      94 non-null     object
 1   2021_Export_Sales  94 non-null     object
 2   2020_Export_Sales  94 non-null     object
 3   2019_Export_Sales  94 non-null     object
 4   2018_Export_Sales  94 non-null     object
 5   2017_Export_Sales  94 non-null     object
 6   2016_Export_Sales  94 non-null     object
 7   2015_Export_Sales  94 non-null     object
 8   2014_Export_Sales  94 non-null     object
 9   2013_Export_Sales  94 non-null     object
 10  2012_Export_Sales  94 non-null     object
dtypes: object(11)
memory usage: 8.8+ KB

### Transformation Grape Variety Production
* Replace NaN with 0
* Drop '% change in average value' column
* Rename 'Variety' to 'Grape Variety', add 'Export Sales' to each year

In [129]:
# Display dataframe
WineProductionSummary_df.head()

,Region,Year,Colour/Variety,Category,Tonnes purchased,Total value purchased,Average purchase value per tonne,% change in average value,Winery grown fruit,Winery grown share of crush,Total crushed,Total value all grapes
0,GreatSouthern,2021,Red,Cabernet Franc,NaN,NaN,NaN,NaN,14.638,100%,14.638,"$22,661"
1,GreatSouthern,2021,Red,Cabernet Sauvignon,1225.435,"$2,723,234.90","$2,222",-3%,276.055,18%,1501.490,"$3,336,701"
2,GreatSouthern,2021,Red,Grenache,10.704,"$17,695.90","$1,653",0%,NaN,NaN,10.704,"$17,696"
3,GreatSouthern,2021,Red,Malbec,54.864,"$111,578.60","$2,034",13%,61.520,53%,116.384,"$236,694"
4,GreatSouthern,2021,Red,Mataro/Mourvedre,NaN,NaN,NaN,NaN,2.000,100%,2.000,"$3,636"

In [130]:
# Replace NaN with 0
WineProductionSummary_df = WineProductionSummary_df.fillna(0)

# Display dataframe
WineProductionSummary_df.head()

,Region,Year,Colour/Variety,Category,Tonnes purchased,Total value purchased,Average purchase value per tonne,% change in average value,Winery grown fruit,Winery grown share of crush,Total crushed,Total value all grapes
0,GreatSouthern,2021,Red,Cabernet Franc,0.000,0,0,0,14.638,100%,14.638,"$22,661"
1,GreatSouthern,2021,Red,Cabernet Sauvignon,1225.435,"$2,723,234.90","$2,222",-3%,276.055,18%,1501.490,"$3,336,701"
2,GreatSouthern,2021,Red,Grenache,10.704,"$17,695.90","$1,653",0%,0.000,0,10.704,"$17,696"
3,GreatSouthern,2021,Red,Malbec,54.864,"$111,578.60","$2,034",13%,61.520,53%,116.384,"$236,694"
4,GreatSouthern,2021,Red,Mataro/Mourvedre,0.000,0,0,0,2.000,100%,2.000,"$3,636"

In [131]:
# Drop '% change in average value'
WineProductionSummary_df = WineProductionSummary_df[["Region", "Year", "Colour/Variety", "Category", "Tonnes purchased", "Total value purchased", "Average purchase value per tonne", "Winery grown fruit", "Winery grown share of crush", "Total crushed", "Total value all grapes"]]

# Display dataframe
WineProductionSummary_df.head()

,Region,Year,Colour/Variety,Category,Tonnes purchased,Total value purchased,Average purchase value per tonne,Winery grown fruit,Winery grown share of crush,Total crushed,Total value all grapes
0,GreatSouthern,2021,Red,Cabernet Franc,0.000,0,0,14.638,100%,14.638,"$22,661"
1,GreatSouthern,2021,Red,Cabernet Sauvignon,1225.435,"$2,723,234.90","$2,222",276.055,18%,1501.490,"$3,336,701"
2,GreatSouthern,2021,Red,Grenache,10.704,"$17,695.90","$1,653",0.000,0,10.704,"$17,696"
3,GreatSouthern,2021,Red,Malbec,54.864,"$111,578.60","$2,034",61.520,53%,116.384,"$236,694"
4,GreatSouthern,2021,Red,Mataro/Mourvedre,0.000,0,0,2.000,100%,2.000,"$3,636"

In [132]:
# Rename 'Variety' to 'Grape Variety', add 'Export Sales' to each year
WineProductionSummary_df = WineProductionSummary_df.rename(columns={"Colour/Variety":"Wine_Colour", "Category":"Grape_Variety", "Tonnes purchased":"Tonnes_purchased", "Total value purchased":"Total_value_purchased", "Average purchase value per tonne":"Average_purchase_value_per_tonne", "Winery grown fruit":"Winery_grown_fruit_per_tonne", "Winery grown share of crush":"Winery_grown_share_of_crush", "Total crushed":"Total_crushed", "Total value all grapes":"Total_value_all_grapes"})

# Display dataframe
WineProductionSummary_df.head()

,Region,Year,Wine_Colour,Grape_Variety,Tonnes_purchased,Total_value_purchased,Average_purchase_value_per_tonne,Winery_grown_fruit_per_tonne,Winery_grown_share_of_crush,Total_crushed,Total_value_all_grapes
0,GreatSouthern,2021,Red,Cabernet Franc,0.000,0,0,14.638,100%,14.638,"$22,661"
1,GreatSouthern,2021,Red,Cabernet Sauvignon,1225.435,"$2,723,234.90","$2,222",276.055,18%,1501.490,"$3,336,701"
2,GreatSouthern,2021,Red,Grenache,10.704,"$17,695.90","$1,653",0.000,0,10.704,"$17,696"
3,GreatSouthern,2021,Red,Malbec,54.864,"$111,578.60","$2,034",61.520,53%,116.384,"$236,694"
4,GreatSouthern,2021,Red,Mataro/Mourvedre,0.000,0,0,2.000,100%,2.000,"$3,636"

In [133]:
# Assess dataframe for datatypes
WineProductionSummary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Region                            935 non-null    object
 1   Year                              935 non-null    int64
 2   Wine_Colour                       935 non-null    object
 3   Grape_Variety                     935 non-null    object
 4   Tonnes_purchased                  935 non-null    float64
 5   Total_value_purchased             935 non-null    object
 6   Average_purchase_value_per_tonne  935 non-null    object
 7   Winery_grown_fruit_per_tonne      935 non-null    float64
 8   Winery_grown_share_of_crush       935 non-null    object
 9   Total_crushed                     935 non-null    float64
 10  Total_value_all_grapes            935 non-null    object
dtypes: float64(3), int64(1), object(7)
memory usage: 80.5+ KB

### Load to PostgresSQL
* Connect to local database
* Check for tables
* Use pandas to load csv converted dataframe into database
* Comfirm data has been added by querying the dataframe

#### Load Wine Sales by Geographical Location

In [134]:
# Connect to local database
user_name = "postgres"
password = "postgres"
rds_connection_string = f"{user_name}:{password}@localhost:5432/wa_wine_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [135]:
# Check for tables
engine.table_names()

['Winery_Location',
 'Weather_Average_Rainfall',
 'Weather_Average_Solar',
 'Soil_data',
 'Winery_Export_Sales_by_Geolocation',
 'Wine_Volume_by_region',
 'Wine_Grape_variety_Sales',
 'Wine_Grape_variety_Production',
 'Winery_Tasting_Price_data']

In [ ]:
# Use pandas to load csv converted dataframe
GeoWineSales_df.to_sql(name='Winery_Export_Sales_by_Geolocation', con=engine, if_exists='append', index=True)

In [ ]:
# Confirm data has been added by querying the table
pd.read_sql_query('select * from Winery_Export_Sales_by_Geolocation', con=engine).head()

#### Load Wine Volume by Region

In [ ]:
# Use pandas to load csv converted dataframe
GIVolumeProductionClean_df.to_sql(name='Wine_Volume_by_region', con=engine, if_exists='append', index=True)

In [ ]:
# Confirm data has been added by querying the table
pd.read_sql_query('select * from Wine_Volume_by_region', con=engine).head()

#### Load Wine Sales by Grape Variety

In [ ]:
# Use pandas to load csv converted dataframe
SalesByVariety_df.to_sql(name='Wine_Grape_variety_Sales', con=engine, if_exists='append', index=False)

In [ ]:
# Confirm data has been added by querying the table
pd.read_sql_query('select * from Wine_Grape_variety_Sales', con=engine).head()

#### Load Grape Variety Production

In [ ]:
# Use pandas to load csv converted dataframe
WineProductionSummary_df.to_sql(name='Wine_Grape_variety_Production', con=engine, if_exists='append', index=False)

In [ ]:
# Confirm data has been added by querying the table
pd.read_sql_query('select * from Wine_Grape_variety_Production', con=engine).head()